{% ckan_extends %}

{% block styles %}
    {{ super() }}
    {% resource 'adfs/css/adfs_user.css' %}
{% endblock %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <section class="module">
        <div class="module-content">
           <h1 class="page-heading">CNRA Staff</h1>
            <p>If you are an employee of a CNRA organization, use the CNRA Log In button on the Log In page to automatically create an account using your enterprise credentials. If it does not work for you, <a href="/contact">contact the Open Data team </a> for altenate account instructions.</p>
            <p><a class="btn btn-primary" href="/user/login">Go to Log In</a></p>
        </div>
      </section>
      <hr class="module-divider">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('External Users') }}{% endblock %}
      </h1>
      <p>Register for an account.</p>
      {{ c.form | safe }}
      {% endblock %}
    </div>
  </article>
{% endblock %}
